<h2>URL Shortener</h2>
<form action="/" method="POST">
  <input type="text" name="primitiveURL" placeholder="Input URL here" required>
  <button type="submit">Shorten</button>
  {{#if invalidURL }}
  <h5 style="color:red;"> please input a valid url</h5>
  {{/if}}

</form>
