<form action="/" method="POST">
  <input class="text-center d-block mx-auto w-75 mx-5 mb-5" type="text" name="primitiveURL" placeholder="Input URL here" required>
  <button class="btn btn-dark w-25" type="submit">Shorten</button>
  {{#if invalidURL }}
  <h5 style="color:red;"> please input a valid url</h5>
  {{/if}}

</form>
