<link rel="stylesheet" href="/stylesheets/indexStyle.css">

{{#if shortener}}

<h2 class="mb-4 px-3" >Success! Please use this link:</h2>
  <a id="url-link" href="{{domain}}" target="_blank" class="d-block mb-5 text-center align-middle mx-auto">{{domain}}</a>
<button onclick="window.history.back();" class="mx-auto btn btn-secondary text-white" >Back</button>
<button id="btn-copy" class="ml-3 d-inline-block btn btn-primary ">Copy</button>
{{else}}

<form action="/" method="get">
  <h3>The URL is error!</h3>
  <button class="mt-3 btn btn-primary" type="submit">Back to homepage</button>
</form>

{{/if}}

<script src="/javascripts/showPage.js"></script>
